# Assignment

### 2.1.1

#### Upload screenshot of jupyter notebook

### 2.1.2

In [5]:

for i in range (2000,3201):
    if i%7 == 0:
        if i % 5 != 0:
            print (i, end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### 2.1.3

In [7]:
firstName = input("enter your first name : ")
lastName = input ("enter your last name : ")
combined = firstName +" "+ lastName
print ("Reverse the name to get the User Name : ",combined[::-1])

enter your first name : trilok
enter your last name : talari
Reverse the name to get the User Name :  iralat kolirt

### 2.1.4

In [33]:
import numpy
import math
pi = numpy.pi
diameter = input("Enter the diameter of the sphere : ")
radius = int(diameter)/2
volume = 4/3 * pi * math.pow(radius,3)
print ( "The volume of the sphere is : ", volume )
print ("The rounded Value : ", round(volume,2))

Enter the diameter of the sphere : 12
The volume of the sphere is :  904.7786842338603
The rounded Value :  904.78

### 2.2.1

In [34]:
numbers = input("Input numbers seperated by comma : ")
list = numbers.split(",")
print("Numbers List : ", list)

Input numbers seperated by comma : 10,20,30,40,50,60,70,80,90,100
Numbers List :  ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

### 2.2.2

In [35]:
for i in range (0, 6):
    for x in range(0, i + 1):
        print("*" , end = ' ')
    print()
for i in range (6, 0, -1):
    for x in range(0, i -1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### 2.2.3

In [37]:
word = input()
print ("The word in reverse : ", word[::-1])

Acadgild
The word in reverse :  dligdacA

In [46]:
print("WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens")
print("---------------------------------------")
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC\n\t\t  REPUBLIC and to secure to all its citizens")

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens
---------------------------------------
WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC
		  REPUBLIC and to secure to all its citizens

### 2.3.1.1

In [69]:
addition = lambda a,b :a+b
product = lambda a,b : a*b
def myreduce(summation , numbers_list):
    x = numbers_list[0]
    for i in numbers_list[1:]:
        x = summation(x,i)
    return x
list = [1,2,3,4]
print("The summation of numbers : ",myreduce (addition,list))
print("The product of numbers : ",myreduce (product,list))

The summation of numbers :  10
The product of numbers :  24

### 2.3.1.2

In [49]:
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

def myfilter(function,sets):
    x = []
    for i in sets:
        if function(i):
            x.append(i)
    return x

Vowels = myfilter(filterVowels,alphabets)
print (Vowels)

['a', 'e', 'i', 'o']

### 2.3.2

In [74]:
list = [i for i in "ACADGILD"]
list

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [13]:

list2 = [i*j for i in 'xyz'for j in range(1,5)]
list2

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [27]:

list3 = [i*j for i in range(1,5) for j in 'xyz']
list3

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [32]:
list4 = [[i+j] for i in [2,3,4] for j in range(0,3)]
list4
list5 = [[i+j for i in [2,3,4,5]] for j in range(0,4)]
list4 + list5

[[2],
 [3],
 [4],
 [3],
 [4],
 [5],
 [4],
 [5],
 [6],
 [2, 3, 4, 5],
 [3, 4, 5, 6],
 [4, 5, 6, 7],
 [5, 6, 7, 8]]

In [35]:

list6 = [(j,i) for i in [1,2,3] for j in [1,2,3]]
list6

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

### 2.3.3

In [43]:
import functools
entry = input("enter a list of words seperated by comma : ")
words = entry.split(",")
longestWord = lambda words : functools.reduce((lambda x,y:y if len(y)>len(x) else x),words)
longestWord(words)

enter a list of words seperated by comma : one,two,three,four,five,six,seven,swayam

'swayam'

### 2.4.1.1

In [73]:
class Triangle:
    def __init__(self, s1, s2, s3):
        self.s1 = s1
        self.s2 = s2
        self.s3 = s3

class Triangle_Subclass(Triangle):
    def __init__(self, s1, s2, s3):
        super(Triangle_Subclass, self).__init__(s1, s2, s3)

    def area(self):
        s = ((self.s1 + self.s2 + self.s3))/2
        return (s*(s-self.s1)*(s-self.s2)*(s-self.s3))**0.5

new_triangle = Triangle_Subclass(3,4,5)
print ("Area = ", new_triangle.area() )

Area =  6.0

### 2.4.1.2

In [9]:
entry = input("enter a list of words seperated by comma : ")
wordsset = entry.split(",")
integer = input("enter the minumum number of letters required : ")
class list_words:
    def __init__(self, words):
        self.words = words

    def filter_long_words(self, n):
        return list(filter(lambda x:len(x) > n, self.words))
        
newlist = list_words(wordsset)
print ('\n',str(newlist.filter_long_words(int(integer))))

enter a list of words seperated by comma : one,two,three,four,five,six,seven,eight,nine,eleven,twelve,thirteen,fourteen,fifteen,sixteen
enter the minumum number of letters required : 5

 ['three', 'seven', 'eight']

### 2.4.2.1

In [17]:
entry = input("enter a list of words seperated by comma : ")
wordset = entry.split(",")
def list_length(words) :
    return list(map(lambda x:len(x),words))
list_length(wordset)

enter a list of words seperated by comma : ab,cde,efgh

[2, 3, 4]

### 2.4.2.2

In [3]:
char = input("Enter a Character : ")
    
def vowel_check(char):
    for i in char:
        x = False
        if i in ['a','e','i','o','u','A','E','I','O','U']:
            x = True
        else :
            x = False
    return x

if vowel_check(char):
    return 'True,'+ char + " is a Vowel"
else :
    return 'False, ' + char + " is not a Vowel"

Enter a Character : w

'False, w is not a Vowel'

### 2.5.1

In [9]:
def division():
    return 5/0

try:
    division()
except :
    print("error dividing by zero")

error dividing by zero

### 2.5.2

In [10]:
subject = ["Americans","Indians"]
verbs = ["play","watch"]
objects = ["Baseball","Cricket"]

for x in subject:
    for y in verbs:
        for z in objects:
            print(x,y,z)

Americans play Baseball
Americans play Cricket
Americans watch Baseball
Americans watch Cricket
Indians play Baseball
Indians play Cricket
Indians watch Baseball
Indians watch Cricket